<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
  <parameter name="username" value="testing999@test.com"></parameter>
  <parameter name="password" value="password1"></parameter>
    <classes>
      <class name="com.app.tests.HomePageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
